SECRET_KEY= Your secret key

EMAIL_HOST_USER= Your email id
HOST_USER_RECIPIENT= the id on which u want to recive email
EMAIL_HOST_PASSWORD= your 24 digit password from google app password

DEBUG=True